<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/lib/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>
<body>
<div class="container">
<!--    <canvas id="myChart" width="200" height="200"></canvas>-->
    <h1>Hello World</h1>
</div>


<script>
    var src_data_trending= {
        labels: [],
        counts: []
    };
    setInterval(function() {
        $.getJSON('/refresh_sentiment', {
        }, function (data) {
            src_data_trending.labels = data.Label;
            src_data_trending.counts = data.Count;
            console.log(src_data_trending)
        });
    }, 1000);

    console.log(src_data_trending)

    // var ctx = document.getElementById('myChart').getContext('2d');
    // var myChart = new Chart(ctx, {
    //     type: 'horizontalBar',
    //     data: {
    //         labels: [],
    //         datasets: [{
    //             label: '# of Votes',
    //             data: [],
    //             backgroundColor: ['rgba(255, 99, 132, 0.2)'],
    //             borderColor: ['rgba(255, 99, 132, 1)'],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //          scales: {
    //                 xAxes: [{
    //                     display: true,
    //                     ticks: {
    //                         beginAtZero: true
    //                     },
    //                     scaleLabel: {
    //                         display: true,
    //                         labelString: 'Quantidade'
    //                     }
    //                 }],
    //                 yAxes: [{
    //                     display: true,
    //
    //                     scaleLabel: {
    //                         display: true,
    //                         labelString: 'Hashtag'
    //                     }
    //                 }]
    //             }
    //     }
    // });
    // const source = new EventSource("/chart-data");
    //
    //     source.onmessage = function (event) {
    //         const data = JSON.parse(event.data);
    //         if (myChart.data.labels.length === 20) {
    //             myChart.data.labels.shift();
    //             myChart.data.datasets[0].data.shift();
    //         }
    //         myChart.data.labels.push(data.labels);
    //         myChart.data.datasets[0].data.push(data.value);
    //         myChart.update();
    //     }
</script>
</body>
</html>